name: Python package on macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PYTHON: python3.12

jobs:
  build:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v6
    - name: Install requirements on macOSX
      run: |
        brew cleanup
        HOMEBREW_NO_AUTO_UPDATE=1 brew install python@3.12 graphicsmagick boost-python3
        HOMEBREW_NO_AUTO_UPDATE=1 brew link --overwrite python@3.12
        HOMEBREW_NO_AUTO_UPDATE=1 brew link --overwrite boost-python3
    - name: check env
      run: |
        uname -a
        which brew
    - name: Install dependencies
      run: |
        CXXFLAGS=-std=c++11 ${PYTHON} -m pip install . -v
    - name: Test
      run: |
        make test
