name: Python package on macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PYTHON: python3.14

jobs:
  build:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v6
    - name: Install requirements on macOSX
      run: |
        brew cleanup
        HOMEBREW_NO_AUTO_UPDATE=1 brew install graphicsmagick boost-python3
    - name: check env
      run: |
        uname -a
        which brew
    - name: Install dependencies
      run: |
        ${PYTHON} -m pip cache purge
        CXXFLAGS=-std=c++11 ${PYTHON} -m pip install . --break-system-packages -v
    - name: Test
      run: |
        make test
