name: Python package on macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PYTHON: python3.11

jobs:
  build:
    strategy:
      matrix:
        os: [macos-13, macosx-14]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Install requirements on macOSX
      run: |
        brew cleanup
        HOMEBREW_NO_AUTO_UPDATE=1 brew install python3 graphicsmagick boost-python3
        HOMEBREW_NO_AUTO_UPDATE=1 brew link --overwrite python3
        HOMEBREW_NO_AUTO_UPDATE=1 brew link --overwrite boost-python3
    - name: check env
      run: |
        uname -a
        which brew
    - name: Install dependencies
      run: |
        ${PYTHON} -m pip install --upgrade pip
        ${PYTHON} -m pip cache purge
        CXXFLAGS=-std=c++11 ${PYTHON} -m pip install . -v
    - name: Test
      run: |
        make test
